/* Container principal */
:root {
    --padding-container: clamp(20px, 5vw, 40px) clamp(20px, 8vw, 134px);
    --margin-bottom-title: 1rem;
  }
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--padding-container)
}

/* container com Título e texto da secao */
.titleContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: end;
  margin-bottom: var(--margin-bottom-title);
}

.titleContainer h2 {
  font-weight: 900;
  margin-bottom: 0.2rem; 
  line-height: 1;
}
.titleContainer h2::after {
  content: "em cartaz";
  display: block;
  font-weight: 00;
}

.titleContainer p {
  font-size: var(--font-size-title-container);
  color: #555;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
}

.titleContainer .span {
  color: var(--primary-red);
  font-weight: bold;
}

/* Linha divisória feita a mao, ainda falta responsividade */
.divider {
  width: 100%;
  height: 2px;
  background: linear-gradient(
    to right,
    var(--primary-red) 0%,
    var(--primary-red) 8.2%,
    transparent 8%,
    transparent 11%,
    var(--primary-red) 10%,
    var(--primary-red) 100%
  );
  position: relative;
  margin: 20px 0;
}

/* Pico do divisor */
.divider::before {
  content: "";
  position: absolute;
  left: 8.5%;
  top: -9.3px;
  width: 1.23vw;
  height: 1.23vw;
  border-top: 2px solid var(--primary-red);
  border-left: 2px solid var(--primary-red);
  transform: rotate(45deg);
  background: transparent;
  min-width: 12px;
  min-height: 12px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 16px;
  justify-content: center;
  align-items: start;
  padding-top: 20px;
}

.card {
  overflow: hidden;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(214, 120, 120, 0.15);
}

.cardImage {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.cardContent {
  padding: 0px 4px 0;
}


.cardType {
  padding: 1.2rem 0 0.6rem 0;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #666;
  font-weight: 600;
}

.cardTitle {
  font-size: clamp(20px, 2vw, 24px);
  font-weight: 900;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-bottom: 0.2rem; 
  line-height: 1;
}

.cardSubTitle {
  text-transform: uppercase;
  font-size: var(--font-size-cardsubtitle);  
  line-height: 0.9;
  font-family: var(--subtitle-font);
  font-weight: var(--subtitle-weight);
  letter-spacing: 2px;
}

.cardDescription {
  font-size: clamp(12px, 1.5vw, 14px);
  color: #000;
  margin-top: 0.6rem;
  width: 17.2rem;
  line-height: 1.4rem;
  text-align: inherit;
  font-family: var(--font-teste);
  font-weight: 600;
  letter-spacing: 1px;
}
