/* Linha vermelha no topo */
.red {
    background-color: var(--primary-red);
    width: 100%;
    height: var(--red-bar-height);
}


.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-small);
}

/* Container logo */
.logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* tamanhos logo */
.logo {
    max-width: var(--logo-max-width);
    max-height: var(--logo-max-height);  
}

/* Estilo divider */
.divider {
    background-color: var(--primary-red);
    height: var(--border-height);
    width: 100%;
    border: none; 
}

/* Estilos Nav */
.nav, .navList {
    list-style: none;
    display: flex;
    gap: var(--gap-large);
    padding: 0;
}

.navList li {
    font-size: var(--font-size-base);
}

.navList a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    font-size: var(--font-size-small);
    letter-spacing: var(--letter-spacing-base);
    font-family: var(--font-teste);
}

.navList a:hover {
    color: var(--primary-red);
    letter-spacing: var(--letter-spacing-hover);
}
